<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Chronic kidney Disease</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<style>
.login{
top: 20%;
}
</style>
</head>

<body>
 <div class="login">
	<h1>Chronic Kidney Disease</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('y_predict')}}"method="post">
    	<input type="text" name="Age" placeholder="Age" required="required" />
        <input type="text" name="Specific Gravity" placeholder="sg" required="required" />
        <input type="text" name="Albumin" placeholder="al" required="required" />
        <input type="text" name="Serum Creatinine" placeholder="sc" required="required" />
        <input type="text" name="Hemoglobin Level" placeholder="hemo" required="required" />
        <input type="text" name="Packed Cell Volume" placeholder="pcv" required="required" />
        <input type="text" name="Hyper Tension" placeholder="htm: Yes/No" required="required" />
		<input type="text" name="Diabetes" placeholder="dm: Yes/No" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
